Source: ebsmount
Section: misc
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 4.0.0

Package: ebsmount
Architecture: any
Depends:
 python (>= 2.4),
 turnkey-pylib,
 udev,
Section: misc
Description: Automatically mount EC2/Eucalyptus EBS devices
 Automatically mounts EBS (Elastic Block Storage) devices when they are
 attached, supports formatted devices as well as partitions, uniquely
 identifiable mount points, and hooking scripts execution upon mount.
