Source: ebsmount
Section: misc
Priority: optional
Maintainer: Roy Liu <carsomyr@gmail.com>
Build-Depends: debhelper, po-debconf
Standards-Version: 3.9.8
Homepage: https://github.com/turnkeylinux/ebsmount

Package: ebsmount
Architecture: all
Depends: python, udev, ${misc:Depends}
Description: Automatically mount EC2/Eucalyptus EBS devices
 Automatically mounts EBS (Elastic Block Storage) devices when they are
 attached, supports formatted devices as well as partitions, uniquely
 identifiable mount points, and hooking scripts execution upon mount.
